@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light */
:root{
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --border: 214.3 31.8% 91.4%;
}
/* Dark */
.dark{
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
}

/* Tailwind base 적용 */
@layer base{
  *{ @apply border-border; }
  body{ @apply bg-background text-foreground; }
}
